{% extends 'base.html.twig' %} {% block body %}
<section id="welcome">
  <div class="container-fluid bg">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="content">
          <div class="intro">
            <h1 class="display-1">Donkey-Series</h1>
            <p class="display-5">the best programs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
