{% extends 'base.html.twig' %}

{% block body %}
	<h1>Bienvenue !</h1>
	<img src="{{ asset('build/images/veyron.png') }}" alt="">
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit veritatis ea fugiat ut error consequatur laudantium enim deleniti eveniet quisquam id assumenda beatae alias, totam ipsam sapiente similique delectus! Distinctio!
	</p>
	<a href="#" class="btn btn-secondary">TEST</a>
{% endblock %}
