<form method="post" action="{{ path('season_delete', {'id': season.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.id) }}">
	<div class="d-grid mt-3">
		<button class="btn btn-outline-danger" class="btn">Delete</button>
	</div>
</form>
