@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

$primary: #3398DB;
$secondary: #E67E22;

@import "~bootstrap/scss/bootstrap";

.box-category {
    display: flex;
    justify-content: space-between;
}

.episode-actions {
    display: flex;
    justify-content: space-between;
    
    i {
        color: $secondary;
    }
}

.season-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    
    i {
        color: $secondary;
    }
}